<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {%      
        include "https://bottleopener.com/Themes/Prisma/Content/CSS/styles.css"
        include "https://bottleopener.com/Themes/Prisma/Content/CSS/mobile.css"
        include "https://bottleopener.com/Themes/Prisma/Content/CSS/480.css"
        include "https://bottleopener.com/Themes/Prisma/Content/CSS/768.css"
        include "https://bottleopener.com/Themes/Prisma/Content/CSS/1024.css"
        include "https://bottleopener.com/Themes/Prisma/Content/CSS/1280.css"
        include "https://bottleopener.com/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css"
        include "https://bottleopener.com/Plugins/SevenSpikes.Nop.Plugins.RichBlog/Themes/Prisma/Content/RichBlog.css"
        include "https://bottleopener.com/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/Prisma/Content/MegaMenu.css"
        include "https://bottleopener.com/Plugins/SevenSpikes.Nop.Plugins.AjaxCart/Themes/Prisma/Content/ajaxCart.css"
        include "https://bottleopener.com/Plugins/SevenSpikes.Nop.Plugins.ProductRibbons/Styles/Ribbons.common.css"
        include "https://bottleopener.com/Plugins/SevenSpikes.Nop.Plugins.ProductRibbons/Themes/Prisma/Content/Ribbons.css"
        include "https://bottleopener.com/Plugins/SevenSpikes.Nop.Plugins.QuickView/Themes/Prisma/Content/QuickView.css"
        include "https://bottleopener.com/lib/fineuploader/fine-uploader.min.css"
        include "https://bottleopener.com/Themes/Prisma/Content/css/theme.custom-1.css?v=46"
      %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      <ul class="nav">
        {%- for nav in collections.nav | reverse -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
        <p><em>This is an <a href="https://www.11ty.io/">Eleventy</a> + <a href="https://www.sanity.io">Sanity.io</a> project inspired by the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>


<!DOCTYPE html>
<html lang="en" class="html-topic-page">
  <head>
    <title>STARR&#x2122; Bottle Openers | About Us</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta
      name="description"
      content="We offer the largest selection of authentic STARR&#x2122; bottle openers and bottle cap catchers and FREE SHIPPING up to 100 pieces on any order shipping to an USA address.   We also carry a selection of other style bottle openers and accessories that we think you will find desirable and useful."
    />
    <meta
      name="keywords"
      content="bottle openers, cap catchers, starr, collectible, personalized, bulk"
    />
    <meta name="generator" content="nopCommerce" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-5814354-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-5814354-1");
    </script>

    <link
      href="https://www.bottleopener.com/Themes/Prisma/Content/CSS/styles.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Content/CSS/mobile.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Content/CSS/480.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Content/CSS/768.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Content/CSS/1024.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Content/CSS/1280.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/css/info-pages.css" rel="stylesheet" type="text/css" />
    <link
      href="https://www.bottleopener.com/Plugins/SevenSpikes.Nop.Plugins.MegaMenuhttps://www.bottleopener.com/Content/MegaMenu.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Plugins.AjaxCarthttps://www.bottleopener.com/Content/ajaxCart.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Plugins.ProductRibbons/Styles/Ribbons.common.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Plugins.ProductRibbonshttps://www.bottleopener.com/Content/Ribbons.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Plugins.QuickViewhttps://www.bottleopener.com/Content/QuickView.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/lib/fineuploader/fine-uploader.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.bottleopener.com/Content/css/theme.custom-1.css?v=46"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://www.bottleopener.com/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://www.bottleopener.com/Plugins/SevenSpikes.Core/Scripts/iOS-12-array-reverse-fix.min.js"></script>

    <link rel="canonical" href="https://www.bottleopener.com/about-us" />

    <link rel="shortcut icon" href="https://www.bottleopener.com/favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fira+Sans:400,700|Open+Sans:400,700|Playfair+Display:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext"
      rel="stylesheet"
    />
    <!--Powered by nopCommerce - https://www.nopCommerce.com-->
  </head>
  <body class="topic-page-body font-open-sans item-type-1">
    <div class="ajax-loading-block-window" style="display: none"></div>
    <div
      id="dialog-notifications-success"
      title="Notification"
      style="display: none"
    ></div>
    <div
      id="dialog-notifications-error"
      title="Error"
      style="display: none"
    ></div>
    <div
      id="dialog-notifications-warning"
      title="Warning"
      style="display: none"
    ></div>
    <div id="bar-notification" class="bar-notification">
      <span class="close" title="Close">&nbsp;</span>
    </div>

    <!--[if lte IE 7]>
      <div
        style="
          clear: both;
          height: 59px;
          text-align: center;
          position: relative;
        "
      >
        <a
          href="http://www.microsoft.com/windows/internet-explorer/default.aspx"
          target="_blank"
        >
          <img
            src="https://www.bottleopener.com/Content/img/ie_warning.jpg"
            height="42"
            width="820"
            alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."
          />
        </a>
      </div>
    <![endif]-->

    <div class="master-wrapper-page">
      <div class="master-header-wrapper-parent">
        <div class="master-header-wrapper">
          <div class="header-wrapper">
            <div class="header">
              <div class="header-logo">
                <a href="/" class="logo">
                  <img
                    alt="STARR&#x2122;  Bottle Openers"
                    src="https://www.bottleopener.com/images/thumbs/000/0000661.png"
                /></a>
              </div>
              <div class="search-box store-search-box">
                <form method="get" id="small-search-box-form" action="/search">
                  <input
                    type="text"
                    class="search-box-text"
                    id="small-searchterms"
                    autocomplete="off"
                    name="q"
                    placeholder="Search store"
                    aria-label="Search store"
                  />

                  <input
                    type="submit"
                    class="button-1 search-box-button"
                    value="Search"
                  />
                </form>
              </div>
              <div class="header-links-wrapper">
                <div class="header-selectors-wrapper"></div>
                <div class="header-links">
                  <ul>
                    <li>
                      <a href="/register" class="ico-register">Register</a>
                    </li>
                    <li><a href="/login" class="ico-login">Log in</a></li>
                    <li>
                      <a href="/wishlist" class="ico-wishlist">
                        <span class="wishlist-label">Wishlist</span>
                        <span class="wishlist-qty">0</span>
                      </a>
                    </li>
                    <li id="topcartlink">
                      <a href="/cart" class="ico-cart">
                        <span class="cart-label">Shopping cart</span>
                        <span class="cart-qty">0</span>
                      </a>
                    </li>
                  </ul>
                </div>

                <div
                  id="flyout-cart"
                  class="flyout-cart"
                  data-removeItemFromCartUrl="/PrismaTheme/RemoveItemFromCart"
                  data-flyoutCartUrl="/PrismaTheme/FlyoutShoppingCart"
                >
                  <span class="cart-qty">0</span>
                  <div class="mini-shopping-cart">
                    <div class="count">
                      You have no items in your shopping cart.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="responsive-nav-wrapper-parent">
              <div class="responsive-nav-wrapper">
                <div class="menu-title">
                  <span>Menu</span>
                </div>
                <div class="search-wrap">
                  <span>Search</span>
                </div>
                <div class="personal-button" id="header-links-opener">
                  <span>Personal menu</span>
                </div>
                <div class="wishlist-button">
                  <a href="/wishlist" class="ico-wishlist">
                    <span class="wishlist-label">Wishlist</span>
                    <span class="wishlist-qty">0</span>
                  </a>
                </div>
                <div class="shopping-cart-link">
                  <a href="/cart">Shopping cart</a>
                  <span class="cart-qty">0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlayOffCanvas"></div>
        <div class="header-menu">
          <div class="navigation-wrapper">
            <div class="close-menu">
              <span>Close</span>
            </div>
          </div>

          <ul
            class="mega-menu"
            data-isRtlEnabled="false"
            data-enableClickForDropDown="false"
          >
            <li class="has-sublist with-dropdown-in-grid">
              <a class="with-subcategories" href="/products"
                ><span>Products</span></a
              >

              <div class="dropdown categories fullWidth boxes-6">
                <div class="row-wrapper">
                  <div class="row">
                    <div class="box">
                      <div class="picture-title-wrap">
                        <div class="title">
                          <a href="/bottle-openers" title="Bottle Openers"
                            ><span>Bottle Openers</span></a
                          >
                        </div>
                        <div class="picture">
                          <a
                            href="/bottle-openers"
                            title="Show products in category Bottle Openers"
                          >
                            <img
                              class="lazy"
                              alt="Picture for category Bottle Openers"
                              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                              data-original="https://www.bottleopener.com/images/thumbs/000/0000654_bottle-openers_290.jpeg"
                            />
                          </a>
                        </div>
                      </div>
                      <ul class="subcategories"></ul>
                    </div>
                    <div class="box">
                      <div class="picture-title-wrap">
                        <div class="title">
                          <a href="/custom" title="Personalized"
                            ><span>Personalized</span></a
                          >
                        </div>
                        <div class="picture">
                          <a
                            href="/custom"
                            title="Show products in category Personalized"
                          >
                            <img
                              class="lazy"
                              alt="Picture for category Personalized"
                              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                              data-original="https://www.bottleopener.com/images/thumbs/000/0000656_personalized_290.jpeg"
                            />
                          </a>
                        </div>
                      </div>
                      <ul class="subcategories"></ul>
                    </div>
                    <div class="box">
                      <div class="picture-title-wrap">
                        <div class="title">
                          <a href="/cap-catchers" title="Cap Catchers"
                            ><span>Cap Catchers</span></a
                          >
                        </div>
                        <div class="picture">
                          <a
                            href="/cap-catchers"
                            title="Show products in category Cap Catchers"
                          >
                            <img
                              class="lazy"
                              alt="Picture for category Cap Catchers"
                              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                              data-original="https://www.bottleopener.com/images/thumbs/000/0000651_cap-catchers_290.jpeg"
                            />
                          </a>
                        </div>
                      </div>
                      <ul class="subcategories"></ul>
                    </div>
                    <div class="box">
                      <div class="picture-title-wrap">
                        <div class="title">
                          <a href="/misc" title="Misc."><span>Misc.</span></a>
                        </div>
                        <div class="picture">
                          <a
                            href="/misc"
                            title="Show products in category Misc."
                          >
                            <img
                              class="lazy"
                              alt="Picture for category Misc."
                              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                              data-original="https://www.bottleopener.com/images/thumbs/000/0000657_misc_290.png"
                            />
                          </a>
                        </div>
                      </div>
                      <ul class="subcategories"></ul>
                    </div>
                    <div class="empty-box"></div>
                    <div class="empty-box"></div>
                  </div>
                </div>
              </div>
            </li>

            <li class=" ">
              <a href="/about-us" class="" title="About Us"
                ><span> About Us</span></a
              >
            </li>

            <li class=" ">
              <a href="/q-a" class="" title="Q &amp; A"
                ><span> Q &amp; A</span></a
              >
            </li>
          </ul>
          <div class="menu-title"><span>Menu</span></div>
          <ul class="mega-menu-responsive">
            <li class="has-sublist">
              <a class="with-subcategories" href="/products"
                ><span>Products</span></a
              >

              <div class="plus-button"></div>
              <div class="sublist-wrap">
                <div class="navigation-wrapper">
                  <div class="close-menu">
                    <span>Close</span>
                  </div>
                  <div class="back-button">
                    <span>Back</span>
                  </div>
                </div>
                <ul class="sublist">
                  <li>
                    <a
                      class="lastLevelCategory"
                      href="/bottle-openers"
                      title="Bottle Openers"
                      ><span>Bottle Openers</span></a
                    >
                  </li>
                  <li>
                    <a
                      class="lastLevelCategory"
                      href="/custom"
                      title="Personalized"
                      ><span>Personalized</span></a
                    >
                  </li>
                  <li>
                    <a
                      class="lastLevelCategory"
                      href="/cap-catchers"
                      title="Cap Catchers"
                      ><span>Cap Catchers</span></a
                    >
                  </li>
                  <li>
                    <a class="lastLevelCategory" href="/misc" title="Misc."
                      ><span>Misc.</span></a
                    >
                  </li>
                </ul>
              </div>
            </li>

            <li class=" ">
              <a href="/about-us" class="" title="About Us"
                ><span> About Us</span></a
              >
            </li>

            <li class=" ">
              <a href="/q-a" class="" title="Q &amp; A"
                ><span> Q &amp; A</span></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="master-wrapper-content">
        <div
          class="ajaxCartInfo"
          data-getAjaxCartButtonUrl="/NopAjaxCart/GetAjaxCartButtonsAjax"
          data-productPageAddToCartButtonSelector=".add-to-cart-button"
          data-productBoxAddToCartButtonSelector=".product-box-add-to-cart-button"
          data-productBoxProductItemElementSelector=".product-item"
          data-enableOnProductPage="True"
          data-enableOnCatalogPages="True"
          data-miniShoppingCartQuatityFormattingResource="{0}"
          data-miniWishlistQuatityFormattingResource="{0}"
          data-addToWishlistButtonSelector=".add-to-wishlist-button"
        ></div>

        <input
          id="addProductVariantToCartUrl"
          name="addProductVariantToCartUrl"
          type="hidden"
          value="/AddProductFromProductDetailsPageToCartAjax"
        />
        <input
          id="addProductToCartUrl"
          name="addProductToCartUrl"
          type="hidden"
          value="/AddProductToCartAjax"
        />
        <input
          id="miniShoppingCartUrl"
          name="miniShoppingCartUrl"
          type="hidden"
          value="/MiniShoppingCart"
        />
        <input
          id="flyoutShoppingCartUrl"
          name="flyoutShoppingCartUrl"
          type="hidden"
          value="/NopAjaxCartFlyoutShoppingCart"
        />
        <input
          id="checkProductAttributesUrl"
          name="checkProductAttributesUrl"
          type="hidden"
          value="/CheckIfProductOrItsAssociatedProductsHasAttributes"
        />
        <input
          id="getMiniProductDetailsViewUrl"
          name="getMiniProductDetailsViewUrl"
          type="hidden"
          value="/GetMiniProductDetailsView"
        />
        <input
          id="flyoutShoppingCartPanelSelector"
          name="flyoutShoppingCartPanelSelector"
          type="hidden"
          value="#flyout-cart"
        />
        <input
          id="shoppingCartMenuLinkSelector"
          name="shoppingCartMenuLinkSelector"
          type="hidden"
          value=".cart-qty"
        />
        <input
          id="wishlistMenuLinkSelector"
          name="wishlistMenuLinkSelector"
          type="hidden"
          value="span.wishlist-qty"
        />

        <div
          id="product-ribbon-info"
          data-productid="0"
          data-productboxselector=".product-item, .item-holder"
          data-productboxpicturecontainerselector=".picture, .item-picture"
          data-productpagepicturesparentcontainerselector=".product-essential"
          data-productpagebugpicturecontainerselector=".picture"
          data-retrieveproductribbonsurl="/RetrieveProductRibbons"
        ></div>

        <div
          class="quickViewData"
          data-productselector=".product-item"
          data-productselectorchild=".buttons-wrapper .buttons"
          data-retrievequickviewurl="/quickviewdata"
          data-quickviewbuttontext="Quick View"
          data-quickviewbuttontitle="Quick View"
          data-isquickviewpopupdraggable="False"
          data-enablequickviewpopupoverlay="True"
          data-accordionpanelsheightstyle="auto"
        ></div>

        <div class="master-column-wrapper">
          <div class="center-2 four-per-row">
            <div class="center-2">
              <div class="page topic-page">
                <div class="page-title">
                  <h1></h1>
                  <div class="breadcrumb"></div>
                </div>
                <div class="page-body">

   @RenderBody()

                </div>
              </div>
            </div>
            <div class="side-2"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
